<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Web Socket
  body
    script(src="/socket.io/socket.io.js")
    script.
      let socket = io.connect('http://localhost:8005', {
        path: '/socket.io',
        //- transports: ['websocket']
      })
      socket.on('news', (data) => {
        console.log(data);
        socket.emit('reply', 'hello node js!')
      })
      
      
      