extends layout

block content
  .time-line
    h2 경매 진행목록
    table#good-list
      thead
        th 상품명
        th 이미지
        th 시작가격
        th 종료시간
        th 입장
      tbody
        for good in goods
          tr
            td= good.name
            td: img(src="/img/" + good.img)
            td= good.price
            td.time(data-start=good.createdAt) 00:00:00
            td: a.enter.btn(href='/good/' + good.id) 입장
